body {
  font-family: Arial, sans-serif;
}

/* шапка  header*/

nav{
  width: 100%;
  height: 60px;
  background: #2f4667;
}
.logo{
  font-size: 22px;
  line-height: 60px;
  padding-left: 340px;
  color: #fff;
  float: left;
}
.menu{
  float: left;
  margin-left: 430px;
}
.menu li {  
  font-size: 16px;
  line-height: 60px;
  float: left;
  margin-right: 40px;
  color: #fff;
  text-transform: uppercase;
}
.main {
  background-image: url(../img/boy.png) no-repeat ,url(../img/bg.jpg) ;
  width: 100%;
  height: calc(100% - 60px);
  

}
